<div class="container mt-5">
    <div class="row">
        <div class="col-8">
            <stepper #stepper>
                <cdk-step [label]="'Address'"[completed]="(checkoutForm.get('addressForm'))?.valid">
                    <checkout-address [checkoutForm]="checkoutForm"></checkout-address>
                </cdk-step>
                <cdk-step [label]="'Delivery'" [completed]="(checkoutForm.get('deliveryForm'))?.valid">
                    <checkout-delivery [checkoutForm]="checkoutForm"></checkout-delivery>
                </cdk-step>
                <cdk-step [label]="'Review'">
                    <checkout-review [stepper]="stepper"></checkout-review>
                </cdk-step>
                <cdk-step [label]="'Payment'" [completed]="(checkoutForm.get('paymentForm'))?.valid">
                    <checkout-payment [checkoutForm]="checkoutForm"></checkout-payment>
                </cdk-step>
            </stepper>
        </div>
        <div class="col-4">
            <order-totals></order-totals>
        </div>
    </div>
</div>
