<div *ngIf="checkoutForm" [formGroup]="checkoutForm" class="mt-4">
    <div formGroupName="deliveryForm" class="row">
        <div *ngFor="let method of deliveryMethods" class="col-6 form-group">
            <input 
            type="radio" 
            class="form-check-input"
            value="{{method.id}}"
            formControlName="deliveryMethod"
            >
            <label for="{{method.id}}" class="form-check-label ms-2 mb-3">
                <strong>{{method.shortName}} - {{method.price | currency}}</strong>
                <br>
                <span class="label-description">{{method.description}}</span>
            </label>
        </div>
    </div>
</div>
