<div class="form-floating mb-3">
    <input 
    type={{type}} 
    [formControl]="control"
    class="form-control" 
    placeholder="{{label}}"
    [ngClass]="(control.touched) ? control.invalid ? 'is-invalid' : 'is-valid' : null"
    >
    <div class="fa fa-spinner fa-spin loader" *ngIf="control.status ==='PENDING'"></div>
    <label for="floatingInput">{{label}}</label>
    <div *ngIf="control.errors?.['required']" class="invalid-feedback">Please enter your {{label}}</div>
    <div *ngIf="control.errors?.['emailExists']" class="invalid-feedback">Email address is already taken {{control.errors?.['emailExists']}}</div>
    <div *ngIf="control.errors?.['email']" class="invalid-feedback">Invalid email address</div>
    <div *ngIf="control.errors?.['pattern']" class="invalid-feedback">Password must have 1 Uppercase, 1 Lowercase, 1 number, 1 non alphanumeric and at least 6 characters long</div>
  </div>
