<header class="d-flex flex-column flex-md-row align-items-center p-3 mb-3 border-bottom justify-content-between px-4 bg-white fixed-top shadow-sm">
    <img routerLink="/" src="/assets/images/logo.png" alt="logo" style="max-height: 70px; cursor: pointer;">
    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto text-uppercase fs-3">
        <a class="p-2" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        <a class="p-2" routerLink="/shop" routerLinkActive="active">Shop</a>
        <a class="p-2" routerLink="/contact" routerLinkActive="active">Contact</a>
    </nav>
    <div class="d-flex align-items-center ms-5">
        <a href="" class="btn btn-outline-secondary me-2">Login</a>
        <a href="" class="btn btn-outline-secondary me-3">Sign Up</a>
        <a class="position-relative">
            <i routerLink="/basket" class="fa fa-shopping-cart fa-2x me-5 text-dark"></i>
            <div *ngIf="(basketService.basketSource$ | async) as basket" class="cart-no">
                {{getCount(basket.items)}}
            </div>
        </a>
    </div>

</header>